---
import { api, type PlayerCombination } from "@/lib/api";
import { CombinationsTable } from "../CombinationsTable";
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "../ui/card";
import type { ProfileProps } from "./Profile.astro";

const { playerId, fromSeriesId, toSeriesId } = Astro.props as ProfileProps;

const combinations2 =  fromSeriesId && toSeriesId
  ? await api.getPlayerCombinationsRange(playerId, 2, fromSeriesId, toSeriesId) as PlayerCombination[]
  : await api.getPlayerCombinations(playerId, 2) as PlayerCombination[];

---
<Card>
  <CardHeader>
    <CardTitle>Best Duo Partners</CardTitle>
    <CardDescription>Win rates when playing with one teammate</CardDescription>
  </CardHeader>
  <CardContent>
    {combinations2.length > 0 ? (
      <CombinationsTable combinations={combinations2} size={2} client:visible />
    ) : (
      <p class="text-muted-foreground text-center py-4">No combinations data available</p>
    )}
  </CardContent>
</Card>